{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} What's the difference between weather and climate? {% endblock %}</h1>
<h1>{% block title %}you can't weather a tree but you can climate XD {% endblock %}</h1>
    <label for="content">Choose a location</label>
    <br>
    <input type="text" name="title"
            placeholder="Message title"
            value="{{ request.form['title'] }}"></input>
    <br>
    <button type="submit">Submit</button>
    </form>
{% endblock %}